<li id="new-reason">
	<%= link_to_remote 'Add New Reason', :update => "new-reason", :method => :get, :url => new_reason_user_project_review_stage_stage_reviewer_document_review_path(@user,@project,@review_stage,@stage_reviewer) %>
</li>

