@import 'common.css';

body {
	font-family: sans-serif ;
}

#header, #main, #footer, #tabs, #tree, #body, #sidebar {
	position: absolute ;
	padding: 0 ; 
	margin: 0 ;
}

#header {
	top: 0 ;
	left: 0 ;
	height: 72px ;
	right: 0 ;
	overflow: hidden ;
}

#tabs {
	top: 72px ;
	left: 0 ;
	height: 36px ;
	right: 0 ;
	overflow: hidden ;
}

#tree {
	top: 108px ;
	left: 0 ;
	width: 180px ;
	bottom: 18pt ;
	overflow: hidden ;
	padding: 0 ;
}

#main {
	top: 108px ;
	left: 180px ;
	bottom: 18pt ;
	right: 0 ;
	overflow: scroll ;
}

#body {
	top: 0 ;
	left: 0 ;
	height: auto ;
	right: 200px ;
	overflow: hidden ;
}

#sidebar {
	top: 0 ;
	width: 200px ;
	height: auto ;
	right: 0 ;
	overflow: hidden ;
}

#footer {
	height: 18pt ;
	left: 0 ;
	bottom: 0 ;
	right: 0 ;
	overflow: clip ;
}

#footer {
	display: none  ;
}
#main,
#tree {
	bottom: 0 ;
}


#header #banner {
	position: absolute ;
	left: 0 ;
	width: 72px ;
	top: 0 ;
	bottom: 0 ;
	background-color: transparent ;
	background-image: url(/images/project72.png) ;
	background-repeat: no-repeat ;
	background-position: center center ;
}

#header #title {
	position: absolute ;
	left: 72px ;
	right: 40% ;
	top: 0 ;
	bottom: 0 ;
	font-size: 24pt ;
	/*
	background-image: url(/images/header_transition2.png) ;
	background-repeat: no-repeat ;
	background-position: top left
	*/
}
#header #title .title {
	
}
#header #title .subtitle {
	font-size: 12pt ;
}

#header #context1,
#header #context2 {
	position: absolute ;
	text-align: right ;
	width: 40% ;
	right: 0 ;
	font-size: 12pt ;
	padding: 2px ;
}

#header #context1 {
	top: 0 ;
	height: 2em ;
}

#header #context2 {
	top: 2em ;
	bottom: 0 ;
}

#footer,
#header {
	color: #ff7 ;
	background-color: #007 ;
}
#header a:visited { color: #ff7 ; }
#header a:link    { color: #ff7 ; }
#header a:active  { color: #ff7 ; }
#header a:hover   { color: #fff ; }

#header #context1 {
	color: #ff7 ;
	background-color: #448 ;
	background-image: url(/images/header_transition.png) ;
	background-position: top left ;
	background-repeat: no-repeat ;
}

#header #context2 {
	color: #ff7 ;
	background-color: #669 ;
	background-image: url(/images/header_transition.png) ;
	background-position: bottom left ;
	background-repeat: no-repeat ;
}

#tabs {
	padding: 0 ;
	background-color: #559 ;
}

#tabs .tab {
	padding: 0 ;
	display: block ;
	float: left ;
	height: 34px ;
	overflow: clip ;
	width: 7em ;
	margin: 0 ;
}

#tabs .tab.aux {
	float: right ;
}

#tabs .tab .missing,
#tabs .tab .here,
#tabs .tab a {
	display: block ;
	height: 100% ;
	width: 100% ;
	margin: 0 ;
	padding-top: 7px ; /* 1/2 of 34px - 16px */
	font-size: 20px ;
	text-align: center ;
	border-left: 1px solid #88c ;
	border-right: 1px solid #88c ;
}

#tabs .tab .missing {
	color: #88c ;
	background-color: #559 ;
}

#tabs .tab .here {
	color: #559 ;
	background-color: #ffc ;
}

#tabs .tab a {
	color: #ff7 ;
	background-color: #559 ;
}

#tabs a:visited { color: #ff7 ; text-decoration: none ; }
#tabs a:link    { color: #ff7 ; text-decoration: none ; }
#tabs a:active  { color: #ff7 ; text-decoration: none ; }
#tabs a:hover   { color: #000 ; background-color: #dd9 ; text-decoration: none ; }

#tree {
	color: #ddf ;
	background: #002 ;
	margin: 0 ;
}

#tree .tree.leaf {
	display: block ;
	width: 100% ;
	padding: 0 ;
	color: #ddf ;
	background: #335;
	border-top:    1px solid #557 ;
	border-bottom: 1px solid #002 ;
}

#tree .tree.leaf.here {
	color: #fff ;
	background: #557;
	border-top:    1px solid #779 ;
	border-bottom: 1px solid #335 ;
}

#tree .tree.leaf .category {
	padding: 4px 0 ;
	color: #99c ;
	display: block ;
	font-size: 10pt ;
}

#tree .tree.leaf.here .category {
	padding: 2px 0 ;
	color: #cce ;
}

#tree .tree.leaf .text {
	display: block ;
	font-size: 18pt ;
}

#tree a.tree.leaf:visited { color: #ddf ; text-decoration: none ; }
#tree a.tree.leaf:link    { color: #ddf ; text-decoration: none ; }
#tree a.tree.leaf:active  { color: #ddf ; text-decoration: none ; }
#tree a.tree.leaf:hover   { color: #fff ;  text-decoration: none ; background-color: #779 ; }

a.switch:before {
	content: url(/images/link_switch.png) ;
}

#main {
	color: #000 ;
	background: #ffc url(/images/main-top-border-blend.png) top center repeat-x ;
}


#body {
	margin-right: 2px ;
	padding-right: 2px ;
	border-right: 1px solid #559;
}
#sidebar {
	padding-left: 2px ;
	margin-left: 2px ;
	border-left: 1px solid #559;
}

#sidebar h2 {
	background: transparent url(/images/round-corner-tl-559.png) no-repeat top left ;
	height: 32px ;
	color: white ;
	padding-top: 10px ;
	padding-left: 14px ;
	padding-right: 14px ;
	border: none ;
	margin-top: 2px ;
	margin-bottom: 0 ;
}
	
#sidebar p {
	margin-top: 0 ;
	padding: 7px ;
	color: #ffc ;
	background: #559 ;
}

#main,
#body {
	padding-left: 1em ;
	padding-right: 1em ;
}

.flash {
	margin-left: 1em ;
	margin-right: 1em ;
	margin-top: 0.5em ;
	margin-bottom: 0.5em ;
	padding-left: 1em ;
	padding-right: 1em ;
	padding-top: 0.25em ;
	padding-bottom: 0.25em ;
}

.flash.notice {
	background-color: white ;
	color: black ;
	border: 2px solid red ;
}
.flash.followup {
	background-color: white ;
	color: black ;
	border: 2px solid yellow ;
}

#main .main h2:before {
	content: url(/images/h2.png) ;
	vertical-align: middle ;
}

#dashboard {
	float: right ;
	margin-left: 0.5em ;
	padding-left: 0.5em ; 
	border-left: solid 1px #559 ;
}

#dashboard h2 {
	font-size: 12pt ;
	font-weight: bold ;
	font-style: normal ;
	margin: 2px ;
}

#dashboard p,
#dashboard ul,
#dashboard ol {
	font-size: 10pt ;
}

#dashboard ul,
#dashboard ol {
	margin-top: 1px ;
	margin-bottom: 1px ;
	padding-left: 10px ;
}


