@import url(layout.css);
@import url(box.css);
@import url(common/report.css);

:link img,
:visited img,
:active img,
:hover img {
	border: none ;
}

p {
	margin-top: 3pt ;
	margin-bottom: 3pt ;
}

h2 {
	border-bottom: 2px solid #337 ;
	font-style: italic ;
	font-size: 18pt ;
	margin: 0 ;
	margin-top: 0.5em ;
	margin-bottom: 0.25em ;
}

h3 {
	font-size: 14pt ;
	line-height: 24px ;
	margin: 0 ;
	margin-top: 0.25em ;
	margin-bottom: 0.125em ;

	padding-left: 4pt ;
	padding-right: 4pt ;
	background: transparent url(/images/h3.png) no-repeat right top ;
	color: #ff7 ;

	border-bottom: 1px solid #559 ;
	width: 60% ;
}
h3 :visited,
h3 :link,
h3 :active {
	color: #ff7 ;
}
h3 :hover {
	color: #ff9 ;
}

h3.reviewer:before,
h3.reviewers:before {
	content: url(/images/users_icon_20.png) ;
	vertical-align: center ;
}
h3.manager:before,
h3.managers:before {
	content: url(/images/users_icon_20.png) ;
	vertical-align: center ;
}
h3.user:before,
h3.users:before {
	content: url(/images/users_icon_20.png) ;
	vertical-align: center ;
}
h3.stage:before,
h3.stages:before {
	content: url(/images/stages_icon_20.png) ;
	vertical-align: center ;
}
h3.document:before,
h3.documents:before {
	content: url(/images/documents_icon_20.png) ;
	vertical-align: center ;
}
h3:before {
	content: '' ;
	background: url(/images/h3.png) no-repeat left center ;
}
h3:after {
	content: '' ;
	background: url(/images/h3.png) no-repeat right center ;
}

h2 :active, h2 :visited, h2 :link, h2 :hover,
h1 :active, h1 :visited, h1 :link, h1 :hover {
	text-decoration: none ;
}

.missing {
	font-style: italic ;
	color: #bbb ;
}

table.basic {
	border-collapse: collapse ;
}

table.basic th,
table.basic td {
	background: #ddddb1 ;
	color: #000 ;
	text-align: center ;
	padding-left: 2pt ;
	padding-right: 2pt ;
}

table.basic a:link    { color: #000 ; text-decoration: none ; }
table.basic a:visited { color: #000 ; text-decoration: none ; }
table.basic a:active  { color: #000 ; text-decoration: none ; }
table.basic a:hover   { color: #000 ; text-decoration: underline ; }

table.basic th {
	font-weight: bold ;
}
table.basic td {
}
table.basic thead {
	border-bottom: solid 2px #559 ;
}
table.basic thead th {
	background: #b1b1dd ;
}
table.basic thead td {
	background: #c0c0f0 ;
}
table.basic tbody th {
	background: #d1d1a8 ;
}
table.basic tbody td {
	background: #ddddb1 ;
}

.card {
	border: 2px solid #fff ;
	background-color: #fcfcf7 ;
	padding-top: 0.5em ;
	padding-bottom: 0.5em ;
	padding-left: 1em ;
	padding-right: 3em ;
	float: right ;
}

.gate {
	padding-top: 3px ;
	padding-bottom: 3px ;
	padding-left: 1em ;
	padding-right: 1em ;
	color: #99c ;
	background-color: #ffc ;
	border: 1px dashed #559 ;
}

.gate.selected {
	color: #559 ;
	background-color: #dda ;
	border: 1px solid #000 ;
}

.email {
	font-family: monospace ;
}

.openid {
	font-family: monospace
}

.topic {
	margin-top: 4px ;
	margin-bottom: 4px ;
}

.topic > * {
	width: 96% ;
	background-color: #559 ;
	margin: 0 ;
	padding-left: 2% ;
	padding-right: 2% ;
}

.topic > * p {
	margin: 0 ;
}

.topic > h3 {
	background-color: transparent ;
	border-bottom: 1px solid #
}

.task {
	display: block ;
	position: relative ;
	margin: 12px ;
}

.task .title {
	display: block ;
	/* border: dashed 1px green ; */
	padding: 4px ;
}

.task .overlay {
	display: block ;
	position: absolute ;
	left: -24px ;
	top: -18px ;
	bottom: -18px ;
	width: 72px ;
	/* border: dashed 1px red ; */
	background: transparent url(/images/task_overlay_24.png) no-repeat scroll center left ;
	z-index: -1 ;
}

.owner {
	font-size: smaller ;
	font-style: italic ;
	color: #777 ;
}

.owner:before { content: '[' ; }
.owner:after { content: ']' ; }

.owner {
	color: #777 ;
}

.owner :link,
.owner :active,
.owner :visited,
.owner :hover {
	color: #777 ;
}
