
<h3>Please log in</h3>

<div class="layout">

<div class="layout left">

<div class="login dialog">

<form method="post" action="session/create">
	OpenID <input name="openid_url"/>
	<input type="submit" value="Login with my OpenID"/>
</form>
</div>

</div>
<div class="layout right">

<div class="login dialog">

<form method="post" action="session/create">
	<input type="hidden" name="openid_url" value="me.yahoo.com"/>
	<!-- buttons images catalog at http://developer.yahoo.com/openid/loginbuttons.html -->
	<input type="image" src="http://us.i1.yimg.com/us.yimg.com/i/reg/openid/buttons/11.png" alt="Login with my Yahoo OpenID"/>
</form>
</div>

<div class="login dialog">
<form method="post" action="session/create">
	<input type="hidden" name="openid_url" value="me.yahoo.com"/>
	<!-- buttons images catalog at http://developer.yahoo.com/openid/loginbuttons.html -->
	<input type="image" src="http://us.i1.yimg.com/us.yimg.com/i/reg/openid/buttons/4_new.png" alt="Login with my Yahoo OpenID"/>
</form>

</div>

</div>
</div>
