
.layout {
	position: relative ;
}

.layout.left {
	position: absolute ;
	top: 0 ; 
	left: 0 ;
	width: 50% ;
	bottom: 0 ;
}

.layout.right {
	position: absolute ;
	top: 0 ; 
	width: 50% ;
	right: 0 ;
	bottom: 0 ;
}

.layout.right.sidebar {
	border-left: 2px solid #777 ;
}

.layout.left.sidebar {
	right: 2px solid #777 ;
}

.side-by-side {
	position: relative ;
	width: 100% ;
	height: auto ;
}

.side-by-side .left-side,
.side-by-side .right-side {
	position: absolute ;
	height: auto ;
}

.side-by-side .left-side {
	left: 0;
	width: 60% ;
}

.side-by-side .right-side {
	left: 60% ;
	right: 0 ;
}


.tie {
	position: relative ;
	width: 100% ;
	height: auto ;
}

.tie .tie-left,
.tie .tie-center,
.tie .tie-right {
	position: absolute ;
	height: auto ;
}

.tie .tie-left h3,
.tie .tie-right h3 {
	width: 100% ;
}

.tie .tie-left {
	left: 0 ;
	width: 45% ;
}

.tie .tie-center {
	left: 45% ;
	right: 45% ;
}

.tie .tie-right {
	width: 45% ;
	right: 0 ;
}
