<h2>People</h2>

<table>
	<tr>
		<th rowspan="2">User</th>
		<th rowspan="2">Roles</th>
		<th colspan="2">Projects</th>
	</tr>
	<tr>
		<th>Managing</th>
		<th>Reviewing</th>
	</tr>

<% for user in @users %>
	<% reviewed_projects = user.review_stages.map { |rs| rs.project }.uniq %>
	<tr>
		<td>
			<%=h user.nickname %>
			(<%= link_to user.full_name, user_path(user) %>)
		</td>
		<td><ul>
			<% if user.is_admin? %><li>Administrator</li><% end %>
			<% if not user.managed_projects.empty? %><li>Manager</li><% end %>
			<% if not reviewed_projects.empty? %><li>Reviewer</li><% end %>
		</ul></td>
		<td>
			<% unless user.managed_projects.empty? %>
				<%= pluralize user.managed_projects.count, 'project' %>
			<% end %>
		</td>
		<td>
			<% unless reviewed_projects.empty? %>
				<%= pluralize reviewed_projects.size, 'project' %>
			<% end %>
		</td>
	</tr>
<% end %>

</table>
