<h2>
	Project: <span class="title"> <%= link_to @project.title, user_project_path(@user,@project) %> </span>,
	<%= link_to @review_stage.name, user_project_review_stage_path(@user,@project,@review_stage) %>
</h2>

<% box(:inset) do %>
	<div class="description"> <%= @review_stage.description %> </div> <!-- note the lack of "h" here -->
<% end %>

<h3>Reports</h3>

<div id="report_agreement_1">
<%= link_to_remote 'Calculate Agreement Report', :url => report_user_project_review_stage_path(@user,@project,@review_stage), :method => :get, :update => 'report_agreement_1' %>
</div>

