<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TODAppName</key>
	<string>LitReview</string>
	<key>TODHomeURLString</key>
	<string>http://c-68-53-139-59.hsd1.tn.comcast.net:6001</string>
</dict>
</plist>
