<h1>All Projects</h1>

<%= link_to 'New project', new_user_project_path(@user) %>

<% for project in @projects %>
	<div class="project overview">
		<div class="icon">
		</div>
		<div class="title">
			<%= link_to project.title, user_project_path(@user,project) %>
		</div>
		<div class="actions">
			<% unless project == current_project %>
				Switch Projects: <span> <%= link_to project.title, { :controller => 'session', :action => 'switch_project', :id => project }, { :class => 'switch' } %> </span>
			<% end %>
		</div>
		<div class="managers">
			Managed By:
			<% if project.managers.empty? %>
				<span class="missing">nobody</span>
			<% else %>
				<% delimited_list project.managers do |manager| %>
					<%= personal_link_to manager.user, '', user_project_manager_path(@user,project,manager) %> </span>
				<% end %>
			<% end %>
		</div>
		<div class="actions">
			
		</div>
	</div>
<% end %>
