<html><body>
<p>
	<%= @user.full_name %> has invited you to participate in
	a <a href="http://c-68-53-147-110.hsd1.tn.comcast.net:6001/">Systematic Literature Review</a>.
</p>

<p>
The project is "<%= @project.title %>."
To get started, <a href="http://c-68-53-147-110.hsd1.tn.comcast.net:6001/login">sign up for an account</a>.
</p>

<p>
<%= @user.full_name %> will be notified when your sign up process is complete and will contact you to proceed from there.
</p>
</body></html>