@import url(tags.css) ;

.document {
	background: transparent url(../../images/document_bg.png) top right no-repeat ;
	border: 0 ;
	border-left: 2px solid #bbb ;
	border-bottom: 2px solid #bbb ;
	margin-top: 0.5em ;
	margin-bottom: 0.5em ;
	margin-left: 2em ;
	margin-right: 2em ;
	padding: 0 ;
	color: #000 ;
}

td .document {
	margin-top: 0 ;
	margin-bottom: 0.25em ;
}

.document :active,
.document a:link,
.document a:visited,
.document a:hover {
	color: #009 ;
	text-decoration: none ;
}

.document a:hover {
	background-color: #ccf ;
}

.document .keyword {
	font-weight: bold ;
	color: #600 ;
}

.document .duplicate {
	margin: 1px ;
	color: #900 ;
	text-align: left ;
	padding: 2px ;
}

.document .duplicate a:active,
.document .duplicate a:link,
.document .duplicate a:visited,
.document .duplicate a:hover {
	color: #600 ;
	text-decoration: none ;
}

.document .duplicate a:hover {
	background-color: #ff9 ;
}

.document .duplicate:before {
        content: url(../../images/duplicate-tag.png) ;
        vertical-align: middle ;
}

.document .head {
	margin-left: 1em ;
	margin-right: 1em ;
	text-align: center ;
	font-family: serif ;
}

.document .body {
	border-top: 1px solid #777 ;
	text-align: left ;
	font-family: sans-serif ;
}

.document .foot {
	margin-left: 1em ;
	margin-right: 1em ;
	text-align: right ;
	font-family: serif ;
	border-top: 1px solid #777 ;
	color: #555 ;
}

.document .foot .tag {
	font-family: sans-serif ;
}

.document .title {
	font-size: 18pt ;
}

.document .title:before {
	content: open-quote ;
}

.document .title:after {
	content: close-quote ;
}

.document .journal,
.document .date {
	font-size: 14pt ;
}

.document .authors {
	font-style: italic ;
	font-size: 12pt ;
}

.document .date {
	font-size: 14pt ;
}

.document .abstract {
	margin-top: 0.5em ;
	margin-bottom: 0.5em ;
	margin-left: 5% ;
	margin-right: 5% ;
	padding: 0 ;
	
	font-size: 12pt ;
	text-indent: 4em ;
	text-align: justify ;
}

.document .foot form.tag input, 
.document .foot .tag {
	font-size: 10pt ;
	font-family: sans-serif ;
	color: black
}

.document .tag:active,
.document .tag:link,
.document .tag:visited,
.document .tag:hover {
}
.document .tag:hover {
	background: #fff ;
	text-decoration: underline ;
	color: #77f ;
}
.document form.tag:hover {
	text-decoration: none ;
}

.document .duplicate,
.document .duplicate * {
	font-size: 9pt ;
}

.documents.related {
	margin-top: 0.5em ;
	margin-bottom: 0.5em ;
	margin-left: 2em ;
	margin-right: 2em ;
	padding-left: 2em ;
	padding: 0 ;
	border: 1px dashed #559 ;
}

.documents.related h3 {
	margin: 0 ;
	padding-left: 1em ;
	margin-right: 40% ;
	font-size: 12pt ;
	text-decoration: none ;
	background-color: #559 ;
	color: #ffc ;
	border: none ;
	
}

table .document .title {
	font-size: 12pt ;
}

table .document .journal,
table .document .date {
	font-size: 9pt ;
}

table .document .authors {
	font-size: 10pt ;
}
table .document .abstract {
	font-size: 19pt ;
}
