.tag {
	font-size: 12pt ;
	font-family: sans-serif ;
	margin: 2px ;
	padding: 2px ;
	background-color: transparent ;
	color: black ;
}

form.tag {
	display: inline ;
}
form.tag div {
	display: inline ;
}
form.tag input {
	font-size: 12pt ;
	padding: 0 ;
	margin: 0 ;
	width: 6em ;
	border: solid 1px #ccc ;
}

a.tag:active,
a.tag:link,
a.tag:visited,
a.tag:hover {
	text-decoration: none ;
}

.tag:before {
	content: url(/images/tag.png) ;
	vertical-align: middle ;
}

form.tag {
	position: relative ;
}

.tags-options {
	position: absolute ;
	bottom: 100% ;
	right: 0 ;
	width: auto ;
	margin: 2px ;
	padding: 2px ;
	background: #ffc ;
	border: 1px solid #000 ;
}
